<h1>Login form</h1>

<form class="" action="/login/auth" method="post">
  Username: <input type="text" name="username" value="">
  Password: <input type="text" name="password" value="">
  <input type="submit" name="" value="Submit">
</form>
